[submodule "vendor/toolkit"]
	path = vendor/toolkit
	url = git@gitlab.tugraz.at:dbp/web-components/toolkit.git
[submodule "vendor/signature"]
	path = vendor/signature
	url = git@gitlab.tugraz.at:dbp/apps/signature.git
