[submodule "vendor/toolkit"]
	path = vendor/toolkit
	url = https://gitlab.tugraz.at/dbp/web-components/toolkit.git
[submodule "vendor/signature"]
	path = vendor/signature
	url = https://gitlab.tugraz.at/dbp/topics/signature.git
